body{
 9, 0.836);
  background-color: #ccc;
}
.main-content{

    padding: 40px 15px;
}
.bg-color-nav{

    background-color: #1C2439;
}
.bg-color-jumbo{

    background-color: rgba(252, 155, 9, 0.836);
}